# Ignore NPM Modules #
######################
node_modules/

# SCSS Cache #
##############
.sass-cache/

# Distribution #
################
_dist/
_dist/*

# System / IDE #
################
.DS_Store
.idea